{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "14"
    }
  }
}
